<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css\delete.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='side-t'>T</i>
      <span class="logo_name">Tracker Dog</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/" class="active">
          <i class='bx bxs-dashboard' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/errors">
          <i class='bx bx-box' ></i>
          <span class="links_name">Errors</span>
        </a>
      </li>
      <li>
        <a href="/team">
          <i class='bx bx-user' ></i>
          <span class="links_name">Team</span>
        </a>
      </li>
      <li>
        <a href="/messages">
          <i class='bx bx-message' ></i>
          <span class="links_name">Messages</span>
        </a>
      </li>
      <li>
        <a href="/settings">
          <i class='bx bx-cog' ></i>
          <span class="links_name">Settings</span>
        </a>
      </li>
      <li class="log_out">
        <a href="/login">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Team</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <span class="admin_name">Jesús Alcalá</span>
        <i class='bx bx-chevron-down'></i>
      </div>
    </nav>

    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            
            <form action="/delete/<%= post._id  %> " method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="title" value="<%= post.title %>" disabled>
              </div>
              <button type="submit" class="btn btn-primary">Delete Teammate</button>
              <button type="submit" class="btn btn-primary">Cancel</button>
            </form>
          </div>
        </div>
      </main> 

  </section>
  <script src="js/homej.js"></script>
</body>
</html>

